<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sangameswaran.ftccegteam_a">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        >

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            >
        </activity>


        <activity android:name=".writeMessageActivity"></activity>
        <activity android:name=".GroupChatActivity"></activity>
        <activity android:name=".LoginCommonActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".UploadPic"></activity>
        <activity android:name=".chatAuthorizerActivity"></activity>
        <activity android:name=".UploadRetreive"></activity>
        <activity android:name=".ShowImagesActivity"></activity>
        <activity android:name=".write_memo_activity"></activity>
        <activity android:name=".memo_recycler_activity"></activity>
        <activity android:name=".WebView1"></activity>
        <activity android:name=".WebView2"></activity>
        <activity android:name=".MechanismTrackerActivity"></activity>
        <activity android:name=".ViewMechanismActivity"></activity>
        <activity android:name=".ViewProgressGraphActivity"></activity>
        <activity android:name=".AdminEntry"></activity>


        <service android:name=".FirebaseMessagingService">

            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name=".FirebaseInstanceIDService">

            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>